Binaries
DerivedDataCache
Intermediate
Saved
AnimStarterPack
Movies
ParagonMurdock
StarterContent
Static
Quarrentine
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
